// scss로 만들면 컴퓨터는 인식을 못하기 때문에 css로 컴파일 함
// 컴파일 하는걸 방지 하려면 '_??.scss' 처럼 앞에 언더바 넣으면 컴파일 안됨

@import 'variables','mixins', 'fonts', 'resets','fullpage' ;

// layout
body {
    position: relative;
}
#header {
    position: fixed;
    top: 0;

    z-index: 100000;
    
    background: #ffffff70;
    
    width: 100%;
    height: $hd-height;

    .my-header {
        
        max-width: 1440px;

        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        height: $hd-height;

        h1, p {
            background: linear-gradient(to right, $Primary-LoadingTxt, $Primary-point2, $Primary-point1, $Primary-NavTxt,$Primary-LoadingTxt );
            color: transparent;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include SemiBold-36;
            font-weight: 900;

            .gradBack {
                width: 100px;
                height: 100px;
                border-radius: 5rem;
                background: linear-gradient(to right, $Primary-LoadingTxt, $Primary-point2, $Primary-point1, $Primary-NavTxt,$Primary-LoadingTxt );
                transform: rotate(45deg);
            }
        }
        #gnb {
            .gnb-inner {
                .gnb_list {
                    display: flex;
                }
            }
        }   
    }
}

svg {
    position: fixed;
}

#background-light {
    transform-origin: center center;
}


#fullpage {
    // display: none;
    // 인트로페이지
    #Intro {
        .text {
            .text-wrap {
                display: flex;
                gap: 10px;
        
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
        
                @include ExtraBold-60;
                font-size: 180px;
        
                color: $Primary-LoadingTxt;
        
                z-index: 10;
        
                text-shadow: 
                    -8px -8px 0 $white, 
                    8px -8px 0 $white,
                    -8px  8px 0 $white, 
                    8px  8px 0 $white;
            }
        }
    }
    // profile페이지
    #Profile {
        background: #ffffff30;
        backdrop-filter: blur(20px);

        .inner {
            display: flex;
            justify-content: space-between;

            width: 80%;

            margin: 0 auto;

            border-radius: 15px;

            gap: 30px;

            .left-wrap {
                padding: 10px;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                position: relative;

                .tag {
                    position: absolute;
                    top: 35px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    height: 100px;

                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @include SemiBold-36;

                    .tag__container {
                        width: 90%;
                        height: 160px;

                        overflow: hidden;
                        height: 40px;
                        padding: 0 40px;

                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &::before {
                            content: '[';
                            left: 30px;
                        }
                        &::after {
                            content: ']';
                            right: 30px;
                        }

                        &:after,
                        &:before {
                            position: absolute;
                            top: 0;
                        }

                        .tag__container__list {
                            margin-top: 0;
                            padding-left: 0;
                            text-align: center;
                            list-style: none;

                            // width: 80%;

                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            animation-name: change;
                            animation-duration: 9s;
                            animation-iteration-count: infinite;

                            @keyframes change {
                                0%, 12.66%, 100% {
                                    transform: translate3d(0, 0, 0);
                                    color: $Primary-LoadingTxt;
                                    }
                                16.66%, 29.32% {
                                    transform: translate3d(0, -25%, 0);
                                    color: $Primary-NavTxt;
                                    }
                                33.32%, 45.98% {
                                    transform: translate3d(0, -50%, 0);
                                    color: $Primary-point2;
                                    }
                                49.98%, 62.64% {
                                    transform: translate3d(0, -75%, 0);
                                    color: $Primary-NavTxt;
                                    }
                                66.64%, 79.3% {
                                    transform: translate3d(0, -50%, 0);
                                    color: $Primary-LoadingTxt;
                                    }
                                83.3%, 95.96% {
                                    transform: translate3d(0, -25%, 0);
                                    color: $Primary-NavTxt;
                                    }
                                }

                            &.tag__container__list__item {

                                line-height: 40px;
                                margin: 0;

                                }
                        }
                        .tag__containe__desc {
                            width: 100&;

                            margin-top: 20px;
                            text-align: center;
                            white-space: nowrap;
                        }
                    }
                }
                .profile_img {
                    width: 100%;

                    margin-top: 90px;

                    img {
                        width: 400px;
                        height: 400px;

                        display: block;
                        object-fit: cover;

                        margin: 0 auto;
                    }
                }
            }
            .right-wrap {
                width: 50%;

                .profile_depth1 {
                    width: 100%;

                    display: flex;
                    flex-direction: column;

                    
                    li {
                        width: 100%;
                        p {
                            @include SemiBold-16;
                            
                            margin-top: 30px;
                            margin-bottom: 20px;
                        }
                    }

                    .profile_depth2 {
                        width: 100%;
                        @include Regular-16;

                        li {
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
    }
    // 1st project 페이지
    #pj01{
        background: #ffffff30;
        backdrop-filter: blur(20px);

        position: relative;

        .inner {
            width: 80%;

            margin: 0 auto;

            .PJ01-prev {
                z-index: 10000;

                width: 80%;
                height: 80%;
                
                position: relative;
                
                .PJ01-prev_inner {
                    width: 100%;

                    margin: 0;
                    padding: 0;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-30%,-10%);

                    .gsapAni {
                        display: flex;

                        width: 100%;
                        height: 100%;

                        position: relative;

                        .gsap_web {
                            width: 75%;
                            object-fit: cover;
                        }
                        .gaspa_mobile {
                            width: 25%;

                            position: absolute;
                            bottom: 100px;
                            right: 100px;
                        }
                    }
                }
            }

            .PJ01-cont {
                border-radius: 15px;

                padding: 30px 0 20px 0;


                .PJ01-cont_inner {
                    display: flex;
                    gap: 30px;

                    .left-wrap {
                        width: 60%;

                        display: flex;
                        flex-direction: row;

                        position: relative;

                        .mainScreen {
                            width: 700px;
                            height: 420px;

                            background: #000;

                            border-radius: 20px;
                        }
                        .screens {
                            width: 100%;

                            position: absolute;
                            bottom: 0;
                            right: 0;

                            .back_web {
                                width: 25%;
                                
                                display: block;
                                object-fit: cover;

                                position: absolute;
                                bottom: 0;
                                right: 40px;
                            }
                            .back_mobile {
                                display: none;
                                display: block;
                                object-fit: cover;

                                width: 8%;

                                position: absolute;
                                bottom: 0;
                                right: 0;
                                
                            }
                        }
                    }
                    .right-wrap {
                        width: 40%;
                        padding: 20px 0;
                        .right-wrap_Num {
                            @include SemiBold-20;

                            margin-bottom: 30px;
                        }
                        .right-wrap_Tit {
                            @include SemiBold-36;

                            margin-bottom: 30px;
                        }
                        .right-wrap_desc_depth1 {
                            @include Regular-16;

                            margin-bottom: 30px;

                            li {
                                display: flex;
                                align-items: center;

                                margin-right: 20px;
                                margin-bottom: 10px;

                                .depth1_tit {
                                    @include SemiBold-20;
                                    margin-right: 20px
                                }
                            }
                        }
                        .description {
                            @include Regular-16;
                            margin-bottom: 50px;
                        }
                        .link_list {
                            display: flex;

                            li {
                                margin-right: 10px;
                                padding: 5px 15px;

                                background: $white;

                                border-radius: 10px;
                                a {
                                    @include Bold-24;
                                    color: $Primary-point2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 2nd project 페이지
    #pj02{
        background: #ffffff30;
        backdrop-filter: blur(20px);

        position: relative;

        .inner {
            width: 80%;

            margin: 0 auto;

            .PJ02-prev {
                z-index: 10000;

                width: 80%;
                height: 80%;
                
                position: relative;

                .PJ02-prev_inner {
                    width: 100%;

                    margin: 0;
                    padding: 0;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-30%,-10%);

                    .gsapAni{
                        display: flex;

                        width: 100%;
                        height: 100%;

                        position: relative;
                        .gsap_web {
                            width: 75%;
                            object-fit: cover;
                        }
                        .gaspa_mobile {
                            width: 25%;

                            position: absolute;
                            bottom: 100px;
                            right: 100px;
                        }
                    }
                }
            }

            .PJ02-cont {
                border-radius: 15px;

                padding: 30px 0 20px 0;


                .PJ02-cont_inner {
                    display: flex;
                    gap: 30px;

                    .left-wrap {
                        width: 60%;

                        display: flex;
                        flex-direction: row;

                        position: relative;

                        .mainScreen {
                            width: 700px;
                            height: 420px;

                            background: #000;

                            border-radius: 20px;
                        }
                        .screens {
                            width: 100%;

                            position: absolute;
                            bottom: 0;
                            right: 0;

                            .back_web {
                                width: 25%;
                                
                                display: block;
                                object-fit: cover;

                                position: absolute;
                                bottom: 0;
                                right: 40px;
                            }
                            .back_mobile {
                                // display: none;
                                display: block;
                                object-fit: cover;

                                width: 8%;

                                position: absolute;
                                bottom: 0;
                                right: 0;
                                
                            }
                        }
                    }
                    .right-wrap {
                        width: 40%;
                        padding: 20px 0;
                        .right-wrap_Num {
                            @include SemiBold-20;

                            margin-bottom: 30px;
                        }
                        .right-wrap_Tit {
                            @include SemiBold-36;

                            margin-bottom: 30px;
                        }
                        .right-wrap_desc_depth1 {
                            @include Regular-16;

                            margin-bottom: 30px;

                            li {
                                display: flex;
                                align-items: center;

                                margin-right: 20px;
                                margin-bottom: 10px;

                                .depth1_tit {
                                    @include SemiBold-20;
                                    margin-right: 20px
                                }
                            }
                        }
                        .description {
                            @include Regular-16;
                            margin-bottom: 50px;
                        }
                        .link_list {
                            display: flex;

                            li {
                                margin-right: 10px;
                                padding: 5px 15px;

                                background: $white;

                                border-radius: 10px;
                                a {
                                    @include Bold-24;
                                    color: $Primary-point2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 3rd project 페이지
    #pj03{
        background: #ffffff30;
        backdrop-filter: blur(20px);

        position: relative;

        .inner {
            width: 80%;

            margin: 0 auto;

            .PJ03-prev {
                z-index: 10000;

                width: 80%;
                height: 80%;
                
                position: relative;

                .PJ03-prev_inner {
                    width: 100%;

                    margin: 0;
                    padding: 0;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-30%,-10%);

                    .gsapAni {
                        display: flex;

                        width: 100%;
                        height: 100%;

                        position: relative;

                        .gsap_web {
                            width: 75%;
                            object-fit: cover;
                        }
                        .gaspa_mobile {
                            width: 25%;

                            position: absolute;
                            bottom: 100px;
                            right: 100px;
                        }
                    }
                }
            }

            .PJ03-cont {
                border-radius: 15px;

                padding: 30px 0 20px 0;

                .PJ03-cont_inner {
                    display: flex;
                    gap: 30px;

                    .left-wrap {
                        width: 60%;

                        display: flex;
                        flex-direction: row;

                        position: relative;

                        .mainScreen {
                            width: 700px;
                            height: 420px;

                            background: #000;

                            border-radius: 20px;
                        }
                        .screens {
                            width: 100%;

                            position: absolute;
                            bottom: 0;
                            right: 0;

                            .back_web {
                                width: 25%;
                                
                                display: block;
                                object-fit: cover;

                                position: absolute;
                                bottom: 0;
                                right: 40px;
                            }
                            .back_mobile {
                                // display: none;
                                display: block;
                                object-fit: cover;

                                width: 8%;

                                position: absolute;
                                bottom: 0;
                                right: 0;
                                
                            }
                        }
                    }
                    .right-wrap {
                        width: 40%;
                        padding: 20px 0;
                        .right-wrap_Num {
                            @include SemiBold-20;

                            margin-bottom: 30px;
                        }
                        .right-wrap_Tit {
                            @include SemiBold-36;

                            margin-bottom: 30px;
                        }
                        .right-wrap_desc_depth1 {
                            @include Regular-16;

                            margin-bottom: 30px;

                            li {
                                display: flex;
                                align-items: center;

                                margin-right: 20px;
                                margin-bottom: 10px;

                                .depth1_tit {
                                    @include SemiBold-20;
                                    margin-right: 20px
                                }
                            }
                        }
                        .description {
                            @include Regular-16;
                            margin-bottom: 50px;
                        }
                        .link_list {
                            display: flex;

                            li {
                                margin-right: 10px;
                                padding: 5px 15px;

                                background: $white;

                                border-radius: 10px;
                                a {
                                    @include Bold-24;
                                    color: $Primary-point2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 4th project 페이지
    #pj04{
        background: #ffffff30;
        backdrop-filter: blur(20px);
        
        position: relative;

        .inner {
            width: 80%;

            margin: 0 auto;

            .PJ04-prev {
                z-index: 10000;

                width: 80%;
                height: 80%;
                
                position: relative;

                .PJ04-prev_inner {
                    width: 100%;

                    margin: 0;
                    padding: 0;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-30%,-10%);
                    
                    .gsapAni {
                        display: flex;

                        width: 100%;
                        height: 100%;

                        position: relative;

                        .gsap_web {
                            width: 75%;
                            object-fit: cover;
                        }
                        .gaspa_mobile {
                            width: 25%;

                            position: absolute;
                            bottom: 100px;
                            right: 100px;
                        }
                    }
                }
            }

            .PJ04-cont {
                border-radius: 15px;

                padding: 30px 0 20px 0;

                .PJ04-cont_inner {
                    display: flex;
                    gap: 30px;

                    .left-wrap {
                        width: 60%;

                        display: flex;
                        flex-direction: row;

                        position: relative;

                        .mainScreen {
                            width: 700px;
                            height: 420px;

                            background: #000;

                            border-radius: 20px;
                        }
                        .screens {
                            width: 100%;

                            position: absolute;
                            bottom: 0;
                            right: 0;

                            .back_web {
                                width: 25%;
                                
                                display: block;
                                object-fit: cover;

                                position: absolute;
                                bottom: 0;
                                right: 40px;
                            }
                            .back_mobile {
                                // display: none;
                                display: block;
                                object-fit: cover;

                                width: 8%;

                                position: absolute;
                                bottom: 0;
                                right: 0;
                                
                            }
                        }
                    }
                    .right-wrap {
                        width: 40%;
                        padding: 20px 0;
                        .right-wrap_Num {
                            @include SemiBold-20;

                            margin-bottom: 30px;
                        }
                        .right-wrap_Tit {
                            @include SemiBold-36;

                            margin-bottom: 30px;
                        }
                        .right-wrap_desc_depth1 {
                            @include Regular-16;

                            margin-bottom: 30px;

                            li {
                                display: flex;
                                align-items: center;

                                margin-right: 20px;
                                margin-bottom: 10px;

                                .depth1_tit {
                                    @include SemiBold-20;
                                    margin-right: 20px
                                }
                            }
                        }
                        .description {
                            @include Regular-16;
                            margin-bottom: 50px;
                        }
                        .link_list {
                            display: flex;

                            li {
                                margin-right: 10px;
                                padding: 5px 15px;

                                background: $white;

                                border-radius: 10px;
                                a {
                                    @include Bold-24;
                                    color: $Primary-point2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // contact페이지
    #Contact {
        .inner {
            display: flex;
            
            margin: 0 auto;

            background: #ffffff30;
            backdrop-filter: blur(50px);
            border-radius: 15px;

            width: 80%;
            height: 600px;

            gap: 30px;

            .left-wrap {
                width: 50%;
                height: 100%;

                background: none;
                backdrop-filter: none;

                padding-top: 90px;
                padding-left: 90px;
                padding-bottom: 90px;

                .contact__container {
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    padding: 0;

                    .contact__container__topTxt {
                        @include Bold-24;
                        width: 100%;
                        
                        p {

                            display: flex;

                            position: relative;

                            &::before {
                                content: "";

                                position: absolute;
                                left: 0;
                                right: 50%;
                                bottom: -5px;

                                width: 150px;
                                height: 5px;

                                border-radius: 3px;
                                background: $Primary-point2;
                            }

                            &::after {
                                content: "";

                                position: absolute;
                                left: 160px;
                                bottom: -5px;

                                width: 5px;
                                height: 5px;

                                border-radius: 3px;
                                background: $Primary-point2;
                            }
                        }
                    }
                    .contact__container__bottomTxt {
                        margin-top: 200px;
                        @include SemiBold-16;

                        .bottomTxt_list_item {
                            margin-bottom: 3px;

                            li:nth-of-type(1) {
                                &::before {
                                    content: "\f095";
                                    font-weight: 900;
                                    font-family: "Font Awesome 6 Free";

                                    width: 16px;
                                    height: 16px;

                                    @include SemiBold-16;

                                    margin-right: 10px;
                                }
                            }
                            li:nth-of-type(2) {
                                &::before {
                                    content: "\f0e0";
                                    font-weight: 900;
                                    font-family: "Font Awesome 6 Free";

                                    width: 16px;
                                    height: 16px;
                                    
                                    @include SemiBold-16;

                                    margin-right: 10px;
                                }
                            }
                            li:nth-of-type(3) {
                                &::before {
                                    content: "\f09b";
                                    font-weight: 400;
                                    font-family: "Font Awesome 6 Brands";

                                    width: 16px;
                                    height: 16px;
                                    
                                    @include SemiBold-16;

                                    margin-right: 10px;
                                }
                            }

                            li:nth-of-type(4) {
                                margin-top: 10px;
                            }

                            li:nth-of-type(4), 
                            li:nth-of-type(5) {
                                @include Regular-13;
                            }
                        }
                    }
                }
            }
            .right-wrap {
                background: none;
                backdrop-filter: none;

                width: 50%;
                height: 100%;

                padding-top: 90px;
                padding-right: 90px;
                padding-bottom: 90px;

                .contact_inptWrap {
                    width: 100%;
                    padding: 0;
                }

                .form-group {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    width: 100%;
                    height: 100%;

                    input {
                        background: none;
                        border: none;

                        padding: 10px 0;

                        width: 100%;

                        border-bottom: 1px solid $grayScale55;

                        &::placeholder {
                            color: $grayScale55;
                            @include Regular-16;

                            margin-bottom: auto;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    .form-group_user_name,
                    .form-group_user_email,
                    .form-group_user_Comment,
                    .form-group_button {
                        margin-bottom: 10px;
                    }

                    .form-group_user_Comment {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        margin-top: 50px;

                        outline: none;

                        .input_usr_comment {
                            background: none;
                            border: none;

                            height: 130px;

                            border-bottom: 1px solid $grayScale55;

                            &::placeholder {
                                color: $grayScale55;
                                @include Regular-16;
    
                                margin-bottom: auto;
                            }
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                    .form-group_button {
                        margin-left: auto;

                        .send {
                            color: $Primary-LoadingTxt;
                            @include SemiBold-16;

                            background: none;
                            border: none;
                            padding: 10px;

                            cursor: pointer;
                            outline: none;

                            &:hover {
                                color: $white;
                                background: $Primary-LoadingTxt;

                                padding: 10px;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#mouse-pointer {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    background: #eee;
    mix-blend-mode: difference;
    z-index: 9999;
    pointer-events: none;
    transition: transform 0.3s;
    &.hover {
        transform: scale(3);
    }
}


// 미디어쿼리