// scss로 만들면 컴퓨터는 인식을 못하기 때문에 css로 컴파일 함
// 컴파일 하는걸 방지 하려면 '_??.scss' 처럼 앞에 언더바 넣으면 컴파일 안됨

@import 'variables','mixins', 'fonts', 'resets','fullpage','swiper' ;

// layout
body {
    position: relative;
    height: 100vh;
}
#header {
    position: fixed;
    top: 0;

    z-index: 100000;
    
    background: #ffffff70;
    
    width: 100%;
    height: $hd-height;

    .my-header {
        
        max-width: 1440px;

        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        height: $hd-height;

        h1, p {
            background: linear-gradient(to right, $Primary-LoadingTxt, $Primary-point2, $Primary-point1, $Primary-NavTxt,$Primary-LoadingTxt );
            color: transparent;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include SemiBold-36;
            font-weight: 900;

            .gradBack {
                width: 100px;
                height: 100px;
                border-radius: 5rem;
                background: linear-gradient(to right, $Primary-LoadingTxt, $Primary-point2, $Primary-point1, $Primary-NavTxt,$Primary-LoadingTxt );
                transform: rotate(45deg);
            }
        }
        #gnb {
            .gnb-inner {
                .gnb_list {
                    display: flex;
                }
            }
        }   
    
    }
}

.background {
    position: fixed;

    position: fixed;

    background: url(../../images/background.png);
    background-size: contain;
    
    width: 100%;
    height: 100%;

    .background__fixed {
        z-index: -10;

        width: 100%;
        height: 100%;

        position: fixed;

        .background-color {
            z-index: -10;

            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
        }
        .background-light {
            z-index: -10;

            background: url(../../images/light.png) $bg-img ;
            background-size: contain;
            width: 100%;
            height: 100%;

            position: absolute;
            bottom: -28%;
            left: -30%;

            transform-origin: center center;
        }
        .background-dust01 {
            z-index: -10;

            background: url(../../images/dust.png) $bg-img ;
            background-size: cover;
            width: 70%;
            height: 70%;

            position: absolute;
            bottom: 10px;
            left: -10px;

        }
        .background-dust02 {
            z-index: -10;

            background: url(../../images/dust.png) $bg-img ;
            background-size: cover;
            width: 60%;
            height: 60%;

            position: absolute;
            top: 0;
            right: -30px;

            opacity: 90%;

            transform: rotate(45deg);
        }
        .background-dust03 {
            z-index: -10;

            background: url(../../images/dust.png) $bg-img ;
            background-size: cover;
            width: 40%;
            height: 40%;

            opacity: 50%;

            position: absolute;
            top: 150px;
            left: 30px;

            transform: rotate(-30deg);
        }
        .background-wave {
            z-index: -10;

            background: url(../../images/wave.png) $bg-img ;
            background-size: contain;
            width: 80%;
            height: 40%;


            position: absolute;
            bottom: -4%;
            left: -7%;
        }
        .background-planet {
            z-index: -10;

            background: url(../../images/planet3.png) $bg-img ;
            background-size: contain;
            width: 100%;
            height: 100%;


            position: absolute;
            bottom: -70%;
            right: -38%;
        }
    }
    .blackground__topPlanet {
        z-index: -6;

        .pin-planet {
            z-index: -6;

            background: url(../../images/planet2.png) $bg-img ;
            background-size: contain;
            width: 80%;
            height: 80%;

            position: absolute;
            top: -45%;
            left: -40%;
        }
        .pin-ringPlanet {
            z-index: -6;

            background: url(../../images/planet4.png) $bg-img ;
            background-size: contain;
            width: 50%;
            height: 50%;

            position: absolute;
            top: -20%;
            right: 10%;
        }
    }
    .background__turnning {
        z-index: -3;

        .turn-sPlanet {
            z-index: -3;

            background: url(../../images/planet3S.png) no-repeat ;
            background-size: contain;
            width: 10%;
            height: 10%;

            position: absolute;
            top: 20%;
            left: 22%;
        }
        .turn-mPlanet {
            z-index: -3;

            background: url(../../images/planet2.png) no-repeat ;
            background-size: contain;
            width: 18%;
            height: 18%;

            position: absolute;
            top: 23%;
            left: 32%;
        }
        .turn-RingPlanetLeft {
            z-index: -3;

            background: url(../../images/planet5.png) no-repeat ;
            background-size: contain;
            width: 72%;
            height: 72%;

            position: absolute;
            top: 17%;
            left: -5%;
        }
        .turn-RingPlanetRight {
            z-index: -3;

            background: url(../../images/planet1.png) no-repeat ;
            background-size: contain;
            width: 120%;
            height: 120%;

            position: absolute;
            top: -10%;
            right: -70%;
        }
        .background-dust04 {
            z-index: -3;

            background: url(../../images/dust.png) $bg-img ;
            background-size: cover;
            width: 50%;
            height: 50%;

            position: absolute;
            bottom: 10px;
            left: -30px;
            
            transform: rotate(20deg);
        }
        .background-dust05 {
            z-index: -3;

            background: url(../../images/dust.png) $bg-img ;
            background-size: cover;
            width: 60%;
            height: 60%;

            position: absolute;
            top: 10%;
            right: -13%;
            
            transform: rotate(-90deg);
        }
    }
    .background-blur {
        width: 100%;
        height: 100%;
    
        background: #ffffff70;
    
        z-index: -10;
    
        display: none;
    
        .active {
            display: block;
    
            position: fixed;
            bottom: 0;
            top: auto;
        }
    }
}

.text {
    .text-wrap {
        display: flex;
        gap: 10px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);

        @include ExtraBold-60;
        font-size: 180px;

        color: $Primary-LoadingTxt;

        z-index: 10;

        text-shadow: 
            -8px -8px 0 $white, 
            8px -8px 0 $white,
            -8px  8px 0 $white, 
            8px  8px 0 $white;
    }
}


#fullpage {
    #About {
        padding-top: 70px;
        .inner {
            display: flex;
            justify-content: space-between;
            
            width: 80%;
            
            margin: 0 auto;
            
            gap: 10px;

            .left-wrap {
                width: 50%;
                display: flex;
                flex-direction: column;
                position: relative;

                .tag {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    height: 100px;
    
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @include SemiBold-36;

                    .tag__container {
                        width: 90%;
                        height: 160px;

                        overflow: hidden;
                        height: 40px;
                        padding: 0 40px;

                        display: flex;
                        flex-direction: column;
                        align-items: center;


                        &::before {
                            content: '[';
                            left: 30px;
                        }
                        &::after {
                            content: ']';
                            right: 30px;
                        }

                        &:after,
                        &:before {
                            position: absolute;
                            top: 0;

                            -webkit-animation: Yrotator 6s infinite alternate;
                            animation: Yrotator 6s infinite alternate;
                        }
                        @keyframes Yrotator {
                            0% {
                                -webkit-filter: hue-rotate(0deg);
                                filter: hue-rotate(0deg);
                            }
                        
                            100% {
                                -webkit-filter: hue-rotate(360deg);
                                filter: hue-rotate(360deg);
                            }
                        }

                        .tag__container__list {

                            margin-top: 0;
                            padding-left: 0;
                            text-align: center;
                            list-style: none;

                            // width: 80%;

                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            animation-name: change;
                            animation-duration: 9s;
                            animation-iteration-count: infinite;

                            @keyframes change {
                                0%, 12.66%, 100% {
                                    transform: translate3d(0, 0, 0);
                                    }
                                16.66%, 29.32% {
                                    transform: translate3d(0, -25%, 0);
                                    }
                                33.32%, 45.98% {
                                    transform: translate3d(0, -50%, 0);
                                    }
                                49.98%, 62.64% {
                                    transform: translate3d(0, -75%, 0);
                                    }
                                66.64%, 79.3% {
                                    transform: translate3d(0, -50%, 0);
                                    }
                                83.3%, 95.96% {
                                    transform: translate3d(0, -25%, 0);
                                    }
                                }

                            &.tag__container__list__item {

                                line-height: 40px;
                                margin: 0;

                                }
                        }
                        .tag__containe__desc {
                            width: 100&;

                            margin-top: 20px;
                            text-align: center;
                            white-space: nowrap;
                        }
                    }
                }
                .profile_img {
                    height: 100%;
                    position: absolute;
                    top: 100px;
                }
            }
            .right-wrap {
                width: 50%;

                .profile_depth1 {
                    width: 100%;

                    display: flex;
                    flex-direction: column;

                    
                    li {
                        width: 100%;
                        p {
                            @include SemiBold-16;

                            margin-bottom: 20px;
                        }
                    }

                    .profile_depth2 {
                        width: 100%;
                        @include Regular-16;

                        li {
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
    }
}



// 미디어쿼리